---
const hobbies = ["programming", "read", "sing", "write", "watch movies"];
---

<h1>Hello world</h1>
<div class="p-5">
	{
		hobbies.map((item) => (
			<>
				<h3>{item}</h3>
				<button class="p-2 px-4 rounded bg-zinc-800 text-white">Like</button>
			</>
		))
	}
</div>

<style>
	h1 {
		color: skyblue;
	}
</style>
