---
import Card from "./../components/Card.astro";
---

<h1>My services</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam placeat
  animi neque quasi enim quas, iste at adipisci esse in.
</p>

<Card title="primero" content="1parrafo" />
<Card title="segundo" content="2parrafo" />
<Card title="tercero" content="3parrafo" />
